*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

li{
    list-style: none;
}

.navbar-brand{
    font-size: 2rem !important;
    font-weight: bold;
    color: rgb(1, 1, 59);
}

.nav-soft{
    color: #ff6600;;
}

.navbar-nav li a{
    color: black !important;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 15px !important;
}

.navbar-nav li a:hover{
    color: orangered !important;

}

.navbar-nav li .hover1{
    color: orangered !important;
 
}

/* ------------------section1 start--------------------------- */

.back{
    margin: 30px;
    height: 35rem !important;
    width: auto;
    /* background-color: rgb(37, 135, 180); */
    background-image: url("../Images/contact.jpg");
    background-size: cover;
}

.back  h1{
    position: relative;
    top: 12rem;
}


.back h1{
    text-align: center;
    font-weight: bold;
    color: rgb(11, 11, 11);
    font-size: 3rem;
}

.section2{
    width: 100%;
    height: 100vh;
    padding: 70px;
    position: relative;
    top: 5rem;
}

.section2 h1{
    font-weight: bold;
    color: #020741;
    
}

.section2 p{
    color: #787890;
    font-size: large;
    margin-top: 30px;
}
.section2 h6{
    color: #ff6600;
}


.sec h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: #020741;
    text-align: center;
    margin-top: 10px;
    
}

.sec p{
    color: #787890;
    text-align: center;
}

.sec button{
    border: none;
    color: #020741;
}

.card{
    text-align: center;
    border: none;
    border-radius: 20px !important;
    position: absolute;
    top: 320px;
}

.card-footer a{
    font-size: 0.9rem;
    font-weight: bold;
    color: #020741;
}

.card-footer:hover{
    background-color: #020741;
    color: #fff !important;
}

.card-footer a:hover{
    color: #fff !important;
}


.card:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transition: all 0.3s ease-in-out;
    color: #fff;
}
.sec{
   margin-top: -150px;
}
.next{
    margin-top: 10px!important;
}

/* ------------------section1 End--------------------------- */

/* ------------------section2 Start--------------------------- */
.section3{
    width: 100%;
    height: 100vh;
    position: relative;
    top: 20rem;
    margin: 30px;
    height: 55rem !important;
    width: auto;
    background-color: #FEEADF;

}
.contact{
    position: absolute;
    top: 150px;
}
button{
    color: #fff;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 1px solid #020741;
    background-color: #020741;
    width: 100px;
    height: 60px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
}

/* ------------------section2 End--------------------------- */

@media (min-width:300px) and (max-width:700px){
    .section3{
        margin-top: 1300px;
        height: 50rem;
    }
    .head{
        font-size: 25px;
    }
    
    .section-last{
        position: absolute;
        top: 400px;
    }
    .message{
        width: 300px !important;
    
    }
    #message-box{
        margin-top: 7px;
    }
   
}    

@media (min-width:700px) and (max-width:1024px){
    .section3{
        margin-top: 300px;
        height: 50rem;
    }
    .section-last{
        position: absolute;
        top: 200px;
    }
}





/* ------------------sectionlast start--------------------------- */

.section-last{
    width: 100%;
    height: auto;
    padding: 70px;
    position: relative;
    background-color: #1A2942;
    color: #fff;
    margin-top: 150px;
    
}

.navbar-brand1{
    color: #fff;
    font-size: 2rem !important;
    font-weight: bold;
}

.section-last p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-last i{
    margin-left: 15px;
}

.section-last i:hover{
    background-color: orangered;
    width: 5%;
}

.section-last h3{
    font-weight: bold;
    margin-bottom: 20px;
}

.section-last li{
    cursor: pointer;
    margin-bottom: 10px;
}

.section-last li:hover{
    color: #787890;
}

.contact-i li i{
    padding: 0 10px;
    margin-left: -10px;

}



.section-last li a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
footer{
    width: 100%;
    height: auto;
    background-color: #020741;
    color: #787890;
    padding: 70px 0 0 0;
}



#myBtn{
    color: #fff;
    background: #1A2942;
    bottom: 20px;
    right: 40px;
    position: fixed;
    z-index: 99;
    border-radius: 10px;
    padding: 10px;
    display: none;
}

#myBtn:hover{
    background: orangered;
}
.chi{
    margin: 10px;
   
}
/* ------------------sectionlast End--------------------------- */


.dropdown-item{
    font-family: 'Times New Roman', Times, serif;
   
}
.dropdown-item a:hover{
  color: #ff6600;
}

.navbar-nav li .dropdown-menu .dropdown-item {
    display: block;
    color: #000 !important;
}

.navbar-nav li .dropdown-menu {
    display: none;
    transition: 0.25s ease-in-out !important;
}

.navbar-nav li:hover .dropdown-menu {
    display: block;
    width: 200px;

    border-radius:10px;
}




.dropdown-menu li {
position: relative;
}
.dropdown-submenu {
/* display: none; */
position: absolute;
left: 100%;
top: -7px;
}

.dropdown-submenu-left {
right: 100%;
left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
display: block;
}

/* .dropdown-hover:hover>.dropdown-menu {
display: inline-block;
}

.dropdown-hover>.dropdown-toggle:active {
pointer-events: none;
} */

.dropdown-menu li ul{
    display: none;
}

.dropdown-menu ul li:hover>ul{
    display: block;
    position: absolute;
    width: 100%;
}